<ion-header translucent>
  <ion-toolbar>
    <ion-title>
      Thermometer {{temp}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <canvas #thermometer></canvas>
  </div>
</ion-content>
